<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<title>Lista de peticiones</title>

<!-- <script>
		$(document).ready(function () {
			$("#miTabla:has(td)").mouseover(function (e) {
				$(this).css("cursor", "pointer");
			});
			$("#miTablatr:has(td)").click(function (e) {
				$("#miTabla td").removeClass("highlight");
				var clickedCell = $(e.target).closest("td");
				clickedCell.addClass("highlight");
				$("#spnText").html(
					'Clicked table cell value is: <b> ' + clickedCell.text() + '</b>');
			});
		});
	</script> -->

</head>
<h1>Lista de peticiones</h1>
<body>
 <form action="/aprobado">
	<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" data-toggle="tags" id="solicitudes" href="#solicitudes" role="tab" aria-controls="solicitudes">solicitudes</a>
      <a class="list-group-item list-group-item-action"  data-toggle="tags"  id="aceptadas" href="#aceptadas" role="tab" aria-controls="aceptadas">aceptadas</a>
      <a class="list-group-item list-group-item-action"  data-toggle="tags" id="rechazadas" href="#rechazadas" role="tab" aria-controls="rechazadas">rechazadas</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="solicitudes" role="tags" aria-labelledby="solicitudes"><div class="container">

	</div></div>
      <div class="tab-pane fade" id="aceptadas" role="tags" aria-labelledby="aceptadas">aceptadas</div>
      <div class="tab-pane fade" id="rechazadas" role="tags" aria-labelledby="rechazadas">rechazadas</div>
    </div>
  </div>
</div>
</form>
</body>
		<table id="miTabla"
			class="table table-hover table-inverse table-responsive">
			<thead class="thead-inverse">
				<tr>
					<th>Dia Alta</th>
					<th>Dia hasta</th>
					<th>Tipo de licencia</th>
				</tr>
			</thead>
			<tbody>
			
				<tr th:each="registro : ${ListaPeticiones}">
					<th class="text" th:text="${registro.diaAlta}"></th>
					<th th:text="${registro.diaHasta}"></th>
					<th th:text="${registro.tipoDeLicencia}"></th>
					<td><a rel="noopener" href="#aceptadas" lang="en" class="external" hreflang="en">HTML5<br><small lang="es">AAAAAAAAA '&lt;select&gt;' en esta especificación.</small></a></td>
					<th><button type="button" class="btn btn-secondary btn-lg">rechazar</button> <input type="text" placeholder="motivos" required></th>
				
				</tr>
				
			</tbody>
			
		</table> 
</html>





